<%= form_for @order, class: "form-inline" do |f| %>
    <div class="row">
        <div class="from-group col">
            <%= f.label :name, Order.human_attribute_name(:name) %>
            <%= f.text_field :name, class: "form-control", value: @order&.name, disabled: cannot?(:manage, @order, :name) %>
        </div>
        <div class="from-group col">
            <%= f.label :surname, Order.human_attribute_name(:surname) %>
            <%= f.text_field :surname, class: "form-control", value: @order&.surname, disabled: cannot?(:manage, @order, :surname) %>
        </div>
        <div class="from-group col">
            <%= f.label :phone_number, Order.human_attribute_name(:phone_number) %>
            <%= f.text_field :phone_number, class: "form-control", value: @order&.phone_number, disabled: cannot?(:manage, @order, :phone_number) %>
        </div>
    </div><br>
    <div class="row">
        <div class="from-group col">
            <%= f.label :date, Order.human_attribute_name(:date) %>
            <%= f.text_field :date, class: "form-control", value: @order&.date || Date.tomorrow, disabled: cannot?(:manage, @order, :date) %>
        </div>
        <div class="form-group col">
            <%= f.label :deposit, Order.human_attribute_name(:deposit) %>
            <%= f.number_field :deposit, step: :any, class: "form-control", value: @order&.deposit, disabled: cannot?(:manage, @order, :deposit) %>
        </div>
        <div class="from-group col">
            <%= f.label :hall_id, Order.human_attribute_name(:hall) %>
            <%= f.select :hall_id, Hall.all.collect { |h| [h.name, h.id] }, { selected: @order&.hall_id || Hall.first.id }, class: "form-control", disabled: cannot?(:manage, @order, :hall) %>
        </div>
        <div class="from-group col">
            <%= f.label :confirmed, Order.human_attribute_name(:confirmed) %>
            <%= f.select :confirmed, [["Nie potwierdzone", 0], ["Potwierdzone", 1]], { selected: @order&.confirmed? ? 1 : 0 }, class: "form-control", disabled: cannot?(:manage, @order, :confirmed) %>
        </div>
    </div><br>
    <%= f.submit t('buttons.save'), class: "btn btn-primary form-group mr-2", disabled: cannot?(:manage, @order) %>
    <%= link_to t('buttons.cancel'), @order&.date || Date.today >= Date.today ? orders_path : archive_path, class: "btn btn-outline-primary form-group" %>
    <% if @order.persisted? %>
        <% if can? :delete, @order %>
            <%= link_to t('buttons.delete'), @order, method: :delete, data: { confirm: t('messages.delete_confirmation', id: @order.id) }, class: "float-right btn btn-danger" %>
        <% end %>
    <% end %>
<% end %>

<% content_for :head do %>
    <script>
        // TODO: Change to next available date
        orderDate = Date.parse("<%= @order&.date || Date.tomorrow %>")
        orderHallId = "<%= @order&.hall_id || Hall.first.id %>"
        halls = <%== Hash[Hall.all.map { |h| [h.id, h.reservation_dates.excluding(@order&.date)] }].to_json %>
    </script>
    <%= javascript_pack_tag 'order_form', 'data-turbolinks-track': 'reload' %>
<% end %>