<% if @orders.any? %>
    <table class="table table-hover orders-table">
        <thead class="thead-light">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Numer komórkowy</th>
                <th scope="col">Data wesela</th>
                <th scope="col">Płatność wstępna</th>
                <th scope="col">Sala</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% @orders.each do |order| %>
                <tr class="order" id="<%= order.id %>">
                    <th scope="row"><%= order.id %></th>
                    <td><%= order.name %></td>
                    <td><%= order.surname %></td>
                    <td><%= TelephoneNumber.parse(order.phone_number).international_number(formatted: true) %></td>
                    <td><%= order.date %></td>
                    <td><%= order.deposit %></td>
                    <td><%= order.hall.name %></td>
                    <td>
                        <% if can? :read, order, :confirmed %>
                            <% if order.confirmed? %>
                                Potwierdzone
                            <% else %>
                                Nie potwierdzone
                            <% end %>
                        <% else %>
                            –
                        <% end %>
                    </td>
                    <td class="appear-on-hover">
                        <%= link_to fa_icon(:eye, type: :solid), order_path(order), class: "text-secondary" %>
                        <% if can? :edit, order %>
                            <%= link_to fa_icon(:edit, type: :solid), edit_order_path(order), class: "text-secondary ml-2" %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%== pagy_bootstrap_nav(@pagy) %>
<% else %>
    <div class="alert alert-secondary">
        Zamówień nie znaleziono
    </div>
<% end %>
