<% content_for :title do %>
    <%= t('views.orders.archive') %>
<% end %>

<% content_for :actions do %>
    <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
        <%= fa_icon 'calendar-alt', type: :regular, class: 'mr-2', text: t('buttons.filters') %>
    </button>
<% end %>

<div class="collapse <%= 'show' if params[:filter] && !(@from.empty? && @to.empty? && @status.zero?) %>" id="collapseFilter">
    <div class="card card-body mb-4">
        <%= form_for :filter, method: :get, url: archive_path, class: "form-inline" do |f| %>
            <div class="row">
                <div class="from-group col">
                    <%= f.label :from, "Od" %>
                    <%= f.date_field :from, class: "form-control", value: @from %>
                </div>
                <div class="from-group col">
                    <%= f.label :to, "Do" %>
                    <%= f.date_field :to, class: "form-control", value: @to %>
                </div>
            </div><br>
            <div class="row">
                <div class="from-group col">
                    <%= f.label :status, "Status" %>
                    <select id="filter_status" name="filter[status]" class="form-control">
                        <%= options_for_select([["Wszystkie", 0], ["Potwierdzone", 1], ["Nie potwierdzone", 2]], @status || 0) %>
                    </select>
                </div>
            </div><br>
            <%= f.submit "Szukaj", class: "btn btn-primary form-group" %>
        <% end %>
    </div>
</div>
<%= render partial: 'shared/list_table', locals: { collection: @orders, model: Order, list_attributes: method(:order_list_attributes), edit_path: method(:edit_order_path) } %>
