<li class="list-group-item list-group-item-action position-relative">
    <span class="text-muted"><%= Order.model_name.human %> <%= task.order_id %></span><br/>
    <span class="font-weight-bold"><%= task.name %></span><br/>
    <%= l(task.start_time, format: :time) %>
    <%- if task.end_time.present? -%>
        - <%= l(task.end_time, format: :time) %>
    <% end %>
    <%= link_to '', order_task_path(task.order_id, task), class: 'stretched-link' %>
</li>