<nav class="navbar navbar-light navbar-expand-md justify-content-between bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <% unless logged_in? %>
                <li class="nav-item"><%= link_to t('navbar.login'), login_path, class: 'nav-link' %></li>
            <% end %>
            <% if can? :read, Task %>
                <li class="nav-item"><%= link_to t('navbar.agenda'), agenda_path, class: 'nav-link' %></li>
            <% end %>
            <% if can? :read, Order %>
                <li class="nav-item"><%= link_to t('navbar.orders.upcoming'), orders_path, class: 'nav-link' %></li>
                <li class="nav-item"><%= link_to t('navbar.orders.archived'), archive_path, class: 'nav-link' %></li>
            <% end %>
            <% if can? :read, Hall %>
                <li class="nav-item"><%= link_to Hall.model_name.human(count: 2), halls_path, class: 'nav-link' %></li>
            <% end %>
            <% if can? :read, User %>
                <li class="nav-item"><%= link_to User.model_name.human(count: 2), users_path, class: 'nav-link' %></li>
            <% end %>
        </ul>
    </div>
    <span class="navbar-text">
        <% if logged_in? %>
            <%= t('navbar.current_user') %>
            <b>
                <%= current_user.name %> <%= current_user.surname %>
                (<%= User.human_attribute_name("role.#{current_user.role}") %>)
            </b>
            <%= link_to fa_icon('sign-out-alt', type: :solid, class: 'mr-2', text: t('navbar.logout')), logout_path, class: "btn btn-primary text-light mx-3" %>
        <% end %>
    </span>
</nav>
