<!DOCTYPE html>
<html>
<head>
    <title>Wedding Registry</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>

    <%= yield :head %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container mt-5">
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
            <%= message %>
        </div>
    <% end %>
    <div class="d-flex justify-content-between align-items-center my-4">
        <h2 class="my-0"><%= yield :title %></h2>
        <div class="d-flex flex-row-reverse">
            <%= yield :actions %>
        </div>
    </div>
    <%= yield %>
    <% if Rails.env.development? %>
        <div class="card">
            <h5 class="card-header">Debugging information</h5>
            <div class="card-body">
                <%= debug(params) %>
            </div>
        </div>
    <% end %>
</div>
</body>
</html>
